html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    block scripts
    link(rel='stylesheet', href='/css/style.css') 
    title My Site - #{title}  
  body
    div(class='main-content')
      header
        h1 Weather
        a(href="/") Home  
        a(href="/about") About
      block content    
    footer 
      p Footer

       
        